body {
    margin: 0;
}

section {
    margin-bottom: 150px;
}

.flexible-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    background-image: url(images/donation16.jpg);
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(232, 234, 241);
}
h1 {
    font-size: 3.5em;
    font-weight: 800;
    margin: 5px 0;
}
p {
    font-size: 25px;
}

.gray-color {
    color: rgb(122, 119, 119);
}

.button {
    padding: 5px 10px;
    background-color: rgb(212, 65, 20);
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

a {
    text-decoration: none;
}

.list {
    list-style-type: none;
    display: flex;
    font-family: "Merriweather", serif;
}
.list-item {
    margin-left: 20px;
    font-size: 2.5em;
    padding: 10px 6px;
}

#donated {
    border: 2px solid red;
    background-color: rgba(240, 168, 168, 0.329);
}

.form {
    width: 40%;
    border-bottom: 1px solid rgb(46, 45, 45);
    text-align: center;
    margin: 2% 0;
}

.input {
    border: 0;
    font-size: 1em;
}

.plans {
    flex-direction: row;
}

.single-plan {
    background-color: #8d8a8a;
    margin: 10px 10px;
    padding: 15px;
    width: 25%;
    border-radius: 5px;
    border-top:5px solid;
    box-shadow: 3px 7px 40px rgb(129, 125, 125);
}
.single-plan p {
    font-size: 20px;
}
#plan1 {
    background-color: #edf5f6;
    border-top-color: #71c6d1;
}
#plan2 {
    background-color: #FFEEEE;
    border-top-color: #e7b4b4;
}
#plan3 {
    background-color: #FFF4D6;
    border-top-color: #e4d5ad;
}

.get-update{
    background-color: #FFF4D6;
    width: 85%;
    margin: 0 auto;
    padding: 20px;
}

.get-update .input{
    border: 0;
    background-color: red;
    padding: 20px;
    margin:-4px;
}

#email{
    background-color: #D9D9D9;
}
#subscribe{
    background-color: #FF5959;
}

